@import "tailwindcss";

:root {
  --background: #effeff;
  --foreground: #171717;
  --power3-out: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-boldonse {
  font-family: var(--font-boldonse);
}


/* Target the 'enter' prop class for mounting elements */
::view-transition-new(.slide-in) {
  animation: slide-in-up 0.7s var(--power3-out) both;
}

/* Target the 'exit' prop class for unmounting elements */
::view-transition-old(.slide-out) {
  animation: slide-out-down 0.7s var(--power3-out) both;
}

::view-transition-new(.zoom-in) {
  animation: zoom-in 0.7s var(--power3-out) both;
}

::view-transition-old(.zoom-out) {
  animation: zoom-out 0.7s var(--power3-out) both;
}

/* Standard Keyframes */
@keyframes slide-in-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-out-down {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes zoom-in {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoom-out {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(0.8);
    opacity: 0;
  }
}